.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.btn {
  background-color: #4ecca2;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;;
}

.btn:hover {
  background-color: #45b793; /* Малко по-тъмно при посочване */
}
.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;

}
