.raleway-font1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  --gold-primary: #d4af37;
  --gold-hover: #c5a028;
  --black-bg: #0a0a0a;
  --dark-card: #161616;
}

body {
  background-color: var(--black-bg);
  color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif Text", serif;
  color: var(--gold-primary);
}

.hero-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  background: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);
}

.code-floater {
  position: absolute;
  color: var(--gold-primary);
  opacity: 0.1; 
  font-family: "Courier New", monospace;
  font-weight: bold;
  user-select: none;
  animation: floatUp linear infinite;
  z-index: 0;
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh) scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(-40vh) scale(1.2);
    opacity: 0;
  }
}

.c1 {
  left: 10%;
  animation-duration: 15s;
  font-size: 1.5rem;
}
.c2 {
  left: 25%;
  animation-duration: 23s;
  font-size: 1rem;
  animation-delay: 2s;
}
.c3 {
  left: 50%;
  animation-duration: 18s;
  font-size: 2rem;
  animation-delay: 5s;
}
.c4 {
  left: 70%;
  animation-duration: 20s;
  font-size: 1.2rem;
  animation-delay: 1s;
}
.c5 {
  left: 85%;
  animation-duration: 12s;
  font-size: 1.8rem;
  animation-delay: 3s;
}

.hero-content {
  z-index: 1; 
  background: rgba(10, 10, 10, 0.6); 
  padding: 2rem;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(212, 175, 55, 0.1);
}


.btn-gold {
  background-color: var(--gold-primary);
  color: #000;
  font-weight: 700;
  border: none;
  padding: 12px 35px;
  transition: 0.3s;
}
.btn-gold:hover {
  background-color: var(--gold-hover);
  transform: scale(1.05);
}

.section-separator {
  border-top: 1px solid #222;
}


.profile-img {
    border: 3px solid var(--gold-primary);
    padding: 5px;
    transition: transform 0.3s;
    
    
    
    width: 100%;       
    aspect-ratio: 1 / 1.3; 
    object-fit: cover;   
    object-position: top center; /
}

.profile-img:hover {
    transform: scale(1.04);
}

.social-link {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 15px;
  transition: color 0.3s;
}
.social-link:hover {
  color: var(--gold-primary);
}


.project-img {
    border: 3px solid var(--gold-primary);
    padding: 5px;
    transition: transform 0.3s ease;
    cursor: pointer; 
}

.project-img:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.3); 
}
